<%= render :partial => 'expenses/form' %>

	<div id="expenses" class="panel">
		
		<% if @category -%>
			<h2 class="header">Expenses marked as <%=h @category.name -%></h2>
		<% else -%>
			<h2 class="header">Recent expenses:</h2>
		<% end -%>
		<div class="content">
			<table>
				<colgroup>
					<col class="category" />
					<col width="expense" />
					<col width="price" />
				</colgroup>
					<% date = nil %>
					<% @expenses.each do |expense| -%>
					<% if date != expense.created_at -%>
					<% date = expense.created_at -%>
					<thead>
						<tr class="date">
							<th class="price"><%=to_money @totals[date] %></th>
							<th colspan="2"><%= date.to_s(:short) %></th>
						</tr>
					</thead>	
					<% end -%>
					<tbody>
						<tr> 
							<td class="price"><%= to_money expense.amount %></td> 
							<td class="expense"><%= link_to_edit_expense expense -%></td> 
							<td class="category"><%= link_to_category(expense.category) -%></td> 
						</tr>
					</tbody>
					<% end -%>
			</table>
		</div>
		<%= will_paginate @expenses -%>
	</div>

	<div id="stats" class="panel">
		
		<h2 class="header">How am I going?</h2>

		<% @stats.each do |month, categories| -%>
			<table summary="Expenses for <%= month %>">
				<thead>
					<tr>
						<th class="price"><%=to_money categories.values.sum %></th>
						<th><%= month %></th>
					</tr>
				</thead>
				<tbody>
					<% categories.each do |category, amount| -%>
						<tr>
							<td class="price"><%= to_money amount %></td>
							<td class="category"><%= link_to_category(category) -%></td>
						</tr>
					<% end -%>
				</tbody>
			</table>
		<% end -%>
		
	</div>
