
<% form_for @expense, :html => { :id => 'new-expense' } do |f| %>
  <fieldset>
    <legend>Add new expense</legend>
    <p>
    <%= f.label :amount, 'I spent' %>
    <%= f.text_field :amount, :size => 6 %>
    <%= f.label :title, 'For' %>
    <%= f.text_field :title, :size => 30 %>
    <%= f.label :category_name, 'Category', :class => 'hidden' %>
    <%= f.text_field :category_name, :size => 6 %>
    <input type="submit" value="Cough!" />
    </p>
  </fieldset>
<% end %>

<div id="main">
  <div id="expenses">
    <table>
      <caption>Recent expenses:</caption>
      <colgroup>
        <col width="15%" />
        <col width="60%" />
        <col width="25%" />
      </colgroup>
      <tbody>
        <% date = nil %>
        <% @expenses.each do |expense| %>
          <% if date != expense.created_at %>
            <% date = expense.created_at %>
            <tr class="date"> <td colspan="2"><%= date.to_s(:short) %></td> <td class="price"><%= total_for_date(date) %> лв</td> </tr>
          <% end %>
          <tr> <td class="category"><%= expense.category.name %></td> <td><%= expense.title %></td> <td class="price"><%= expense.amount %> лв</td> </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div id="stats">
    <table>
      <caption>How am I going?</caption>
      <tbody>
        <tr class="month"> <td>July</td> <td class="price">2000 лв</td> </tr>
        <tr><td class="category">Booze(4)</td><td class="price">1500 лв</td></tr>
        <tr><td class="category">Pills(1)</td><td class="price">500 лв</td></tr>
        <tr><td class="category">Fuel(3)</td><td class="price">500 лв</td></tr>
        <tr class="month"> <td>June</td> <td class="price">2000 лв</td> </tr>
        <tr><td class="category">Booze(4)</td><td class="price">1500 лв</td></tr>
        <tr><td class="category">Pills(10)</td><td class="price">500 лв</td></tr>
        <tr><td class="category">Fuel(1)</td><td class="price">500 лв</td></tr>
      </tbody>
    </table>
  </div>
  <br style="clear:both" />
</div>

