
<% form_for @expense, :html => { :id => 'new-expense' } do |f| %>
  <fieldset>
    <p>
    <%= f.label :amount, 'I spent' %>
    <%= f.text_field :amount, :size => 6 %>
    <%= f.label :title, 'For' %>
    <%= f.text_field :title, :size => 30 %>
    <%= f.label :category_name, 'Category', :class => 'hidden' %>
    <%= f.text_field :category_name, :size => 10 %>
    <input type="submit" value="Cough!" />
    </p>
  </fieldset>
<% end %>

<div id="main">
  <div id="expenses">
    <% if @category -%>
      <h2>Expenses marked as <%=h @category.name -%></h2>
    <% else -%>
      <h2>Recent expenses:</h2>
    <% end -%>
    <table>
      <colgroup>
        <col width="15%" />
        <col width="60%" />
        <col width="25%" />
      </colgroup>
      <tbody>
        <% date = nil %>
        <% @expenses.each do |expense| -%>
          <% if date != expense.created_at -%>
            <% date = expense.created_at -%>
            <tr class="date"> <td colspan="2"><%= date.to_s(:short) %></td> <td class="price"><%=to_money @totals[date] %></td> </tr>
          <% end -%>
          <tr> 
            <td class="category"><%= link_to expense.category.name, category_expenses_path(expense.category) %></td> 
            <td><%= expense.title %></td> <td class="price"><%= to_money expense.amount %></td> 
          </tr>
        <% end -%>
      </tbody>
    </table>
    <%= will_paginate @expenses -%>
  </div>

  <div id="stats">
    <h2>How am I going?</h2>
    <% @stats.each do |month, categories| -%>
      <table summary="Expenses for <%= month %>">
        <thead>
          <tr><th><%= month %></th> <th class="price"><%=to_money categories.values.sum %></th> </tr>
        </thead>
        <tbody>
          <% categories.each do |category, amount| -%>
            <tr>
              <td class="category"><%= link_to category.name, category_expenses_path(category) %></td>
              <td class="price"><%= to_money amount %></td>
            </tr>
          <% end -%>
        </tbody>
      </table>
    <% end -%>
  </div>
  <br style="clear:both" />
</div>

