<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="bg" lang="bg">

  <head>
    <title>Tefter</title>
    <%= stylesheet_link_tag 'application', 'formtastic', 'formtastic_changes' %>
  </head>
  <body>
    <h1 id="logo">Tefter &ndash; Get a Grip of Your Expenses</h1>
    <div id="greeting">
      <% if signed_in? -%>
        <%=h current_user.email -%> &bull; <%= link_to "sign out", sign_out_path -%>
      <% else -%>
        <%= link_to 'sign in', sign_in_path -%> &bull; <%= link_to "sign up", sign_up_path -%>
      <% end -%>
    </div>
    <div id="main">
      <% unless flash.empty? -%><div id="flash"><% flash.each do |key, value| -%><div id="flash_<%= key %>"><%=h value %></div><% end -%></div><% end -%>
      <%= yield -%>
    </div>
  </body>
</html>

